@import '../../responsive.scss';

.profilePage {
	height: 100%;
	overflow-y: scroll;
	padding-top: 50px;

	@include md {
		flex-direction: column;
		overflow: scroll;
	}

	.list {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}
}

.empty {
	color: rgb(246, 246, 246);
	font-size: larger;
	display: flex;
	justify-content: center;
	padding: 5px;
	background: rgb(148, 213, 207);
	border-radius: 10px;
	margin: 5px;
}
