@import '../../responsive.scss';

.cardLawyer {
	display: flex;
	gap: 40px;

	.leftCard {
		display: flex;
		gap: 20px;
		background-color: #fcf5f3;
		border-radius: 10px;
		width: 900px;
		.imageContainer {
			flex: 2;
			height: 200px;

			@include md {
				display: none;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 10px;
			}
		}

		.cardLeft {
			flex: 3;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 10px;
			padding-right: 20px;
			border-right: 1px solid #ddd;

			img {
				width: 16px;
				height: 16px;
			}

			.title {
				font-size: 20px;
				font-weight: 600;
				color: #444;
				transition: all 0.4s ease;

				&:hover {
					color: #000;
					scale: 1.01;
				}
			}

			.address {
				font-size: 14px;
				display: flex;
				align-items: center;
				gap: 5px;
				color: #888;
			}

			.price {
				font-size: 20px;
				font-weight: 300;
				padding: 5px;
				border-radius: 5px;
				background-color: rgba(254, 205, 81, 0.438);
				width: max-content;
			}

			.bottom {
				display: flex;
				justify-content: space-between;
				gap: 10px;
				padding-bottom: 10px;

				.features {
					display: flex;
					gap: 20px;
					font-size: 14px;

					.feature {
						display: flex;
						align-items: center;
						gap: 5px;
						background-color: whitesmoke;
						padding: 5px;
						border-radius: 5px;
					}
				}

				// .icons {
				// 	display: flex;
				// 	gap: 20px;

				// 	.icon {
				// 		border: 1px solid #999;
				// 		padding: 2px 5px;
				// 		border-radius: 5px;
				// 		cursor: pointer;
				// 		display: flex;
				// 		align-items: center;
				// 		justify-content: center;

				// 		&:hover {
				// 			background-color: lightgray;
				// 		}
				// 	}
				// }
			}
		}

		.cardRight {
			flex: 3;
			display: flex;
			flex-direction: row;
			gap: 20px;
			align-items: center;
			justify-content: center;
			@include sm {
				flex-direction: column;
				text-align: center;
				margin-right: 10px;
			}
			.rejectButton {
				cursor: pointer;
				padding: 5px;
				background-color: rgb(245, 163, 156);
				border-radius: 5px;
				border: #fcf5f3;
				color: white;
				&:hover {
					background-color: rgb(244, 138, 129);
				}
			}
			.acceptButton {
				cursor: pointer;
				padding: 5px;
				background-color: rgb(166, 240, 175);
				border-radius: 5px;
				border: #fcf5f3;
				color: #333;
				&:hover {
					background-color: rgb(117, 235, 131);
				}
			}
			.viewButton {
				cursor: pointer;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				margin-right: 20px;
				font-size: larger;
				font-weight: 500;
				padding: 5px;
				background-color: rgb(246, 248, 178);
				border-radius: 5px;
				border: #fcf5f3;
				color: #333;

				@include md {
					flex-direction: row;
					text-align: center;
					margin-right: 0;
				}
				&:hover {
					background-color: rgb(240, 243, 144);
				}
			}
		}
	}
	.user {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 20px;
		justify-content: center;
		padding: 0px 50px;
		border-radius: 10px;
		background-color: #f7c14b85;

		img {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			object-fit: cover;
		}
	}
}
